<a href="https://colab.research.google.com/github/namithatholasi/DS2022/blob/main/Project1_DS3021.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PROJECT 1

## Wrangling and EDA

First, go to the NHANES and LMF web sites and familiarize yourself with the data sources. Download codebooks. Think about what resources are available. The CDC Linked Mortality File is somewhat of a pain to work with, so I have pre-cleaned it for you. It is available at httts://github.com/ds4e/undergraduate_ml_assignments in the data folder, as lmf_parsed.cav. From the CDC LMF web page, get the SAS program to load the data; it is the real codebook.

Second, download the demographic data for the 1999--2000 wave from the NHANES page. You can use the following code chunk to merge the LMF and DEMO data:

In [7]:
print("hello")

hello

In [1]:
! git clone https://github.com/clairicelou/project_1_bsds
%run ./project_1_bsds/get_data.py

Cloning into 'undergrad_ml_assignments'...
remote: Enumerating objects: 38, done.
remote: Counting objects: 100% (17/17), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 38 (delta 10), reused 4 (delta 4), pack-reused 21 (from 1)
Receiving objects: 100% (38/38), 10.49 MiB | 16.60 MiB/s, done.
Resolving deltas: 100% (10/10), done.
Downloading course data...
Download complete
Extracting data files...
Data extracted

In [2]:
import pandas as pd

lmf = pd.read_csv(
    '/content/undergrad_ml_assignments/data/linked_mortality_file_1999_2000.csv',
    encoding='latin1'
)

lmf.head()

,SEQN,ELIGSTAT,MORTSTAT,UCOD_LEADING,DIABETES,HYPERTEN,PERMTH_INT,PERMTH_EXM
0,1,2,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1,1.0,6.0,0.0,0.0,177.0,177.0
2,3,2,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1,0.0,NaN,NaN,NaN,244.0,244.0

In [3]:
lmf.columns

Index(['SEQN', 'ELIGSTAT', 'MORTSTAT', 'UCOD_LEADING', 'DIABETES', 'HYPERTEN',
       'PERMTH_INT', 'PERMTH_EXM'],
      dtype='object')

In [4]:
gdf = pd.read_sas("undergrad_ml_assignments/data/DEMO.xpt", format="xport")

gdf.head()

,SEQN,SDDSRVYR,RIDSTATR,RIDEXMON,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDAGEEX,RIDRETH1,RIDRETH2,...,WTIREP43,WTIREP44,WTIREP45,WTIREP46,WTIREP47,WTIREP48,WTIREP49,WTIREP50,WTIREP51,WTIREP52
0,1.0,1.0,2.0,2.0,2.0,2.0,29.0,31.0,4.0,2.0,...,10094.017100,9912.461855,9727.078709,10041.524113,9.953956e+03,9857.381983,9865.152486,10327.992682,9809.165049,10323.315747
1,2.0,1.0,2.0,2.0,1.0,77.0,926.0,926.0,3.0,1.0,...,27186.728682,27324.345051,28099.663528,27757.066921,2.804929e+04,26716.602006,26877.704909,27268.025234,27406.383620,26984.812909
2,3.0,1.0,2.0,1.0,2.0,10.0,125.0,126.0,3.0,1.0,...,43993.193099,44075.386428,46642.563799,44967.681579,4.457248e+04,44087.945688,44831.370881,44480.987235,45389.112766,43781.905637
3,4.0,1.0,2.0,2.0,1.0,1.0,22.0,23.0,4.0,2.0,...,10702.307249,10531.444441,10346.119327,10636.063039,5.397605e-79,10533.108939,10654.749584,10851.024385,10564.981435,11012.529729
4,5.0,1.0,2.0,2.0,1.0,49.0,597.0,597.0,3.0,1.0,...,93164.782430,92119.608772,95388.490406,94131.383538,9.529781e+04,91325.082461,91640.586117,92817.926915,94282.855382,91993.251203

In [6]:
df = gdf.merge(mdf, on="SEQN", how="inner")
df.head()

NameError: name 'mdf' is not defined

Third, the variables ELIGSTAT, MORTSTAT, PERMTH_INT, and RIDAGEEX are particularly important. Look them up in the documentation and clearly describe them.

Second, the goal of the project is to use whatever demographic, behavioral, and health data you like to predict mortality (MORTSTAT) and life expectancy (PERMTH_INT). Go to the NHANES 1999--2000 web page and select your data and download it. Clearly explain your rationale for selecting these data. Use .merge to combine your data into one complete dataframe. Document missing values.

Third, do basic EDA and visualization of the key variables. Are any important variables skewed? Are there outliers? How correlated are pairs of variables? Do pairs of categorical variables exhibit interesting patterns in contingency tables? Provide a clear discussion and examination of the data and the variables you are interested in using.

## k-NN classification/regression & write-up

Describe the data, particularly what an observation is and whether there are any missing data that might impact your analysis. Who collected the data and why? What known limitations are there to analysis?

Describe the variables you selected to predict mortality and life expectancy, and the rationale behind them. Analyze your variables using describe tables, kernel densities, scatter plots, and conditional kernel densities. Are there any patterns of interest to notice?

Using your variables to predict mortality using a k-Nearest Neighbor Classifier. Analyze its performance and explain clearly how you select k.

Using your variables to predict life expectancy using a k-Nearest Neighbor Regressor. Analyze its performance and explain clearly how you select k.

Describe how your model could be used for health interventions based on patient characteristics. Are there any limitations or risks to consider?